# Nothing in the .gitignore file as of yet...
#
# Things to consider putting in the .gitignore:
#   - Specific PyCharm files
#   - Specific Django files
#   - Markdown files
#
# Helpful website sent by Marcus:
# https://www.toptal.com/developers/gitignore
