# Shamelessly copied from the staff build example

# Django is needed to run Django
Django

# gunicorn is needed by Heroku to launch the web server
gunicorn

# django-heroku is ONLY needed by Heroku for their internal process
# if you have errors with psycopg2 or django-heroku, use the code at the bottom of settings.py to avoid the error
# the outcome of using this bypass is that locally you will need to use either SQLite or connect to Heroku's Postgres DB
django-heroku

# oh yeah I need bootstrap for this woops
django-bootstrap5

# keep trying stuff?
dj-database-url
psycopg2

# keep trying stuff for static files
whitenoise

# install django-allauth for Google authentication
django-allauth