{% extends "base.html" %}
{% block content %}
{% load socialaccount %}
{% if user.is_authenticated %}

<style>
    .hidden {
        display: none
    }
</style>

<div class="text-center">
    <h1>Recipe Form</h1>

    <!--Referenced from this youtube video:-->
    <!--https://youtu.be/PICYTJqj__o-->

    {% if message %}
    <p> {{ message }} </p>
    {% endif %}
    <form id="form-container" action="." enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ recipe_form.as_p }}

        {% if recipe_image_form %}
        <h4>Add Image:</h4>
        {{ recipe_image_form.as_p }}
        {% endif %}

        {% if ingredient_formset %}
        <h4>Add Ingredients:</h4>
        {{ ingredient_formset.management_form }}
        <div id="ingredient-formset">
            {% for ingredient_form in ingredient_formset %}
                <div class="ingredient-form">
                    {{ ingredient_form.as_table }}
            <!--        <button id="delete-form" type="button">Remove Row</button>-->
                </div>
            {% endfor %}
        </div>

        <div id='empty-ingredient-form' class="hidden">
            {{ ingredient_formset.empty_form }}
        </div>

        <button id="add-ingredient" type="button">
            Add Another Ingredient
        </button>

        {% endif %}
        <input type = "submit" class="btn btn-primary" value = "Submit" >
    </form>

    <script>
    // get number of total new forms
    const totalNewForms = document.getElementById('id_ingredient_set-TOTAL_FORMS')

    // get add ingredient button by id
    const addIngredientBtn = document.getElementById('add-ingredient')

    // add event listener to call add ingredient form on click
    addIngredientBtn.addEventListener('click', addIngredientForm)

    // defines the addIngredientForm function
    function addIngredientForm(args) {

        // print out arguments to test listener
        // console.log(args)
        // print length of currentIngredientForms for testing
        // console.log(currentIngredientForms.length)

        // prevents console.log printing and other bad stuff
        if (event) {
            event.preventDefault()
        }

        // get total number of ingredient forms
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')

        // get current amount of forms from class data and increment it
        const currentFormCount = currentIngredientForms.length

        // get the target
        const ingredientFormset = document.getElementById('ingredient-formset')

        // get and copy empty form element by id
        const emptyIngredientFormCopy = document.getElementById('empty-ingredient-form').cloneNode(true)
        // set it to the right class
        emptyIngredientFormCopy.setAttribute('class', 'ingredient-form')
        // set each new form to have its own id
        emptyIngredientFormCopy.setAttribute('id', `form-${currentFormCount}`)

        // regex for replacing prefixes
        const regex = new RegExp('__prefix__', 'g')
        // replace prefix with the index
        emptyIngredientFormCopy.innerHTML = emptyIngredientFormCopy.innerHTML.replace(regex, currentFormCount)

        // now add a new empty form
        ingredientFormset.append(emptyIngredientFormCopy)

        // increment total forms
        totalNewForms.setAttribute('value', `${currentFormCount+1}`)

    }
    </script>

    {% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
    {% endif %}
    {% endblock %}
</div>