{% extends "base.html" %}
{% block content %}
{% load socialaccount %}
{% if user.is_authenticated %}

<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<div class="d-flex flex-column align-items-center" style = "margin-left:15%; margin-right: 15%; background-color:white; height:100vh"> 
  <p>Welcome, {{ user.username }}!</p>
 <div class="flexbox-container" style="display:flex;">
        <div class="sidebar" style="flex:1;">

            <h3>Liked Recipes</h3>
        {% if liked_recipe_list %}

    <ul>
        {% for recipe in liked_recipe_list %}
            {% for image in recipe.recipeimage_set.all %}
      {% if forloop.parentloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
        <div class="col-md-4 d-flex justify-content-around align-items-center">
            <div class="card card-custom-border" >
                <!-- <img src="https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg" alt="">
                 -->
                {% if image.image %}
				<img class="card-img-top" src="{{image.image.url}}" width = "fit" height = "fit" alt="Card image cap">
				{% endif %}
                <div class="card-body">
					<div>
						<h4><a class="card-title" href="/recipes/{{ recipe.id }}/">
							{{ recipe.recipe_name }}
						</a></h4>
					</div>
					<div class="card-information d-flex flex-column">
						<h6>{{recipe.number_of_likes}} likes</h6>
						<h6>{{recipe.number_of_forks}} forks</h6>
					</div>
                </div><!-- card body -->
            </div><!-- card -->
        </div><!-- col-md-4 -->
  {%  if forloop.parentloop.counter|divisibleby:3 or forloop.parentloop.last %}</div><!-- row closing --><hr>{%  endif %}
  {%  endfor %}
        {% endfor %}
    </ul>
  {% else %}
      <p>You have no liked recipes.</p>
  {% endif %}

        </div>
        <div class="main" style="flex:1;">
        <h3>Your Recipes</h3>
            {% if created_recipe_list %}

    <ul>
        {% for recipe in created_recipe_list %}
            {% for image in recipe.recipeimage_set.all %}
      {% if forloop.parentloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
        <div class="col-md-4 d-flex justify-content-around align-items-center">
            <div class="card card-custom-border" >
                <!-- <img src="https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg" alt="">
                 -->
                {% if image.image %}
				<img class="card-img-top" src="{{image.image.url}}" width = "fit" height = "fit" alt="Card image cap">
				{% endif %}
                <div class="card-body">
					<div>
						<h4><a class="card-title" href="/recipes/{{ recipe.id }}/">
							{{ recipe.recipe_name }}
						</a></h4>
					</div>
					<div class="card-information d-flex flex-column">
						<h6>{{recipe.number_of_likes}} likes</h6>
						<h6>{{recipe.number_of_forks}} forks</h6>
					</div>
                </div><!-- card body -->
            </div><!-- card -->
        </div><!-- col-md-4 -->
  {%  if forloop.parentloop.counter|divisibleby:3 or forloop.parentloop.last %}</div><!-- row closing --><hr>{%  endif %}
  {%  endfor %}
        {% endfor %}
    </ul>
  {% else %}
      <p>You have no created recipes.</p>
  {% endif %}

        </div>
        </div>


{% else %}
<div class="d-flex flex-column align-items-center" style = "margin-left:15%; margin-right: 15%; background-color:white; height:100vh"> 
  <div style = "margin-top: 20%;"></div>
    <a class = "login-btn" href="{% provider_login_url 'google' %}">Login With Google</a>
  </div>
{% endif %}

{% endblock %}