{% extends "base.html" %}
{% block content %}
{% load socialaccount %}
{% if user.is_authenticated %}
<h1>Delete Recipe?</h1>

{% if message %}
<p> {{ message }} </p>
{% endif %}

{% if user == recipe.author %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ recipe.recipe_name }}"?</p>
    <p>This action cannot be undone.</p>
    {{ form }}
    <input type="submit" value="Confirm">
    <a href="{% url 'recipes:detail' recipe.pk %}"> Cancel </a>
</form>
{% else %}
<p> You are not the author of this recipe. </p>
<a href="{% url 'recipes:detail' recipe.pk %}"> Return to Detail Page</a>
{% endif %}

{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
{% endblock %}