<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>d e e p thoughts | List</title>
</head>
<body>

<!--extends base html template for header and footer-->
{% extends 'polls/base.html' %}

<!--- Load the tag library --->
{% load bootstrap5 %}

<!--- load CSS and javascript --->
{% bootstrap_css %}
{% bootstrap_javascript %}

<!--- Display django.contrib.messages as Bootstrap alerts --->
{% bootstrap_messages %}

<!--- Shamelessly copy index.html code --->
{% block content %}

All deep thoughts submitted can be found in the list below:

{% if lines %}
    <table class="table">
        {% for deepthought in deepthought_list %}
            <tr>
                <td>{{ deepthought.title }} : {{ deepthought.text }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

<!--RIP Pagination you worked until you didn't-->
<!--    {% bootstrap_pagination lines size="small" %}-->

<!--The above code for centering text was sourced from the pagination template used for the django-bootstrap 5 demo-->
<!--    Title: Django-Bootstrap V5 Sample Pagination HTML Template-->
<!--    Author: Original: Zostera and Dylan Verheul, Maintained by: Andre Bar'yudin-->
<!--    Date: 02/22/2022-->
<!--    Code version: 5-->
<!--    URL: https://github.com/zelenij/django-bootstrap-v5/blob/main/example/templates/app/pagination.html -->
<!--    Software License: BSD 3-Clause -->

{% else %}
    <p>No deep thoughts are available.</p>
{% endif %}
{% endblock %}

</body>
</html>