<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls | Index</title>
</head>
<body>

<!--extends base html template for header and footer-->
{% extends 'polls/base.html' %}

<!--Making a content block might make it show?-->
{% block content %}
Here are the latest five questions to be added:

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li>
                <a href="{% url 'polls:detail' question.id %}">
                    {{question.question_text }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}

<!--The above code was sourced from the Django tutorial:-->
<!--Title: Django Tutorial-->
<!--Author: Django Software Foundation: https://www.djangoproject.com/foundation/teams/-->
<!--Date: 02/22/2022-->
<!--Code version: 4.0-->
<!--URL: https://docs.djangoproject.com/en/4.0/intro/-->
<!--Software License: Creative Commons Attribution-ShareAlike 3.0 Unported License-->

</body>
</html>