li a {
    color: green;
}

body {
    background: white url("images/background.jpg") no-repeat;
    color: white;
}

title {
    color: white;
}

tr {
    color: white;
}

.center {
  margin: auto;
  text-align: center;
}